// Body
//$body-bg: #2F3136;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
//$blue: #007BFF;
//$indigo: #6574cd;
//$purple: #9561e2;
//$pink: #f66d9b;
//$red: #DC3545;
//$orange: #f6993f;
//$yellow: #FFC107;
//$green: #28A745;
//$teal: #4dc0b5;
//$cyan: #17A2B8;

// Custom colors

$darkPrimaryBackground: #2F3136;
$darkHeaderBackground: #707070;

$lightPrimaryBackground: #2F3136;
$lightHeaderBackground: #707070;
