// Body
//$body-bg: #2F3136;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
//$blue: #007BFF;
//$indigo: #6574cd;
//$purple: #9561e2;
//$pink: #f66d9b;
//$red: #DC3545;
//$orange: #f6993f;
//$yellow: #FFC107;
//$green: #28A745;
//$teal: #4dc0b5;
//$cyan: #17A2B8;

// Custom colors

$darkPrimaryBackground: #2F3136;
$darkSecondaryBackground: #292B2F;
$darkHeaderBackground: #171717;
$darkText: #171717;

$lightPrimaryBackground: #EAEDED;
$lightSecondaryBackground: #FAFAFA;
$lightHeaderBackground: #e1e1e1;
$lightText: #FAFAFA;

$primaryButtons: #1AC9A7;
$secondaryButtons: #AAAAAA;
$editButtons: #0000A1;
$accents: #FAE819;

