// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Custom imports
@import 'courses';
// Custom inline

.gc-reset {
    transform: scale(0.95) !important;
    -webkit-transform: scale(0.95) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
}

.darkTheme {
    background-color: $darkPrimaryBackground;
}

.lightTheme {
    background-color: red;
}

.br-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.br-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.br-15 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.br-20 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.br-25 {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.br-30 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.list-style-type-none {
  list-style-type: none !important;
  list-style-position: unset !important;
}

.darkTheme .primaryText {
    color: #171717;
}

.lightTheme .primaryText {
    color: #171717;
}

.darkTheme .secondaryText {
    color: red;
}

.lightTheme .secondaryText {
    color: red;
}

#errorMessages {
    position: fixed;
    bottom: 0;
    right: 0;
}

.parallax-window {
    min-height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    background: transparent;
}

.parallax-window-reserve {
    width: 100%;
    min-height: 400px;
}

.row-full {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    overflow: hidden;
    left: 50%;
}

.parallax-row {
    min-height: 65vh;
    background: transparent;
}
