// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Custom imports
@import 'homepage';
@import 'courses';
@import 'dashboard';
// Custom inline

.gc-reset {
    transform: scale(0.95) !important;
    -webkit-transform: scale(0.95) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
}

.darkTheme {
    background-color: $darkPrimaryBackground;
}

.lightTheme {
    background-color: white;
}

.br-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.br-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.br-15 {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.br-20 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.br-25 {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.br-30 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.list-style-type-none {
  list-style-type: none !important;
  list-style-position: unset !important;
}

.darkTheme .primaryText {
    color: #171717;
}

.lightTheme .primaryText {
    color: #171717;
}

.darkTheme .secondaryText {
    color: white;
}

.lightTheme .secondaryText {
    color: white;
}

#errorMessages {
    position: fixed;
    bottom: 0;
    right: 0;
}
