.courseGridContainer {
  display: grid;
  grid-column-gap: 10vw;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.gridItem {
  background: white;
  height: 250px;
  width: 100%;
}

.duration {
  bottom: 10px;
}

.gridItem a {
  right: 25px;
  bottom: 25px;
}

.difficulty {
  right: 25px;
  top: 25px;
}

.lessons > a > li {
  border-bottom: 1px solid #707070;
}

.lessons > a > li:hover, .lessonHeader:hover {
  background-color: #f0f0f0;
}

.lessons > a:last-child > li {
  border-bottom: none;
}

.courseBoardHeader {
  position: relative;
  height: 33%;
  width: 100%;
}

.courseBoardHeader img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
}

.courseBoardHeader h1 {

}