#accountPage {
  height: 500px;
}

#profileHeader {
  padding: 10px;
  border-bottom: 1px solid black;
}

#profileHeader div {
  height: 100%;
}

#profileHeader img {
  height: 170px;
  width: 170px;
}
