@import 'variables';

@media only screen and (max-width: 600px) {
  .lessonEditorContainer {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 3fr 4fr 1fr 1fr 4fr;
    grid-template-areas: 'descriptionHeader' 'description' 'editor' 'submit' 'outputHeader' 'output';
    grid-gap: 0;
  }

  .sandboxEditorContainer {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 4fr 1fr 1fr 4fr;
    grid-template-areas: 'menu' 'editor' 'submit' 'outputHeader' 'output';
    grid-gap: 0;
  }
}

@media only screen and (min-width: 600px) {
  .lessonEditorContainer {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: minmax(100px, auto) 10fr 1fr;
    grid-template-areas: 'descriptionHeader descriptionHeader outputHeader' 'description editor output' 'description submit output';
    grid-gap: 0;
  }

  .sandboxEditorContainer {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: minmax(100px, auto) 10fr 1fr;
    grid-template-areas: 'menu outputHeader' 'editor output' 'submit output';
    grid-gap: 0;
  }
}

.lessonEditorContainer {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
}

.darkTheme .editorHeaderBackground {
  background-color: darken($darkSecondaryBackground, 5%);
}

.lightTheme .editorHeaderBackground {
  background-color: darken($lightSecondaryBackground, 3%);
}

.darkTheme .editorBackground {
  background-color: $darkSecondaryBackground;
}

.lightTheme .editorBackground {
  background-color: $lightSecondaryBackground;
}

.liveEditorLesson {
  grid-area: editor;
  height: 72vh;
}

#output {
  grid-area: output;
  background: white;
  height: 72vh;
}

#lessonAssignmentDescription {
  grid-area: description;
  height: 100%;
  overflow-y:auto;
  padding: 15px;
}

#outputHeader {
  grid-area: outputHeader;
}

#lessonAssignmentTitle {
  grid-area: descriptionHeader;
}

#menuHeader {
  grid-area: menu;
}

#editorRun {
  grid-area: submit;
  float: right;
}

#editorNext {
  grid-area: submit;
  display: none;
  float: right;
}

#editorIncorrect {
  grid-area: submit;
  display: none;
  float: right;
}
